docs/wsdl/zato.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:zato="http://gefira.pl/zato" 
xmlns="http://gefira.pl/zato"
name="zato" 
targetNamespace="http://gefira.pl/zato"
>

  <wsdl:types>
    <xsd:schema targetNamespace="http://gefira.pl/zato" elementFormDefault="qualified">
    
    
    
      <xsd:element name="zato_service_get_list_request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cluster_id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="zato_service_get_list_response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="is_active" type="xsd:boolean"/>
            <xsd:element name="impl_name" type="xsd:string"/>
            <xsd:element name="is_internal" type="xsd:boolean"/>
            <xsd:element name="may_be_deleted" type="xsd:boolean"/>
            <xsd:element name="usage" type="xsd:int"/>
            <xsd:element name="slow_threshold" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element> 
    
    
    
<!--
      <xsd:element name="zato_service_get_list_request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cluster_id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="zato_service_get_list_response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="is_active" type="xsd:boolean"/>
            <xsd:element name="impl_name" type="xsd:string"/>
            <xsd:element name="is_internal" type="xsd:boolean"/>
            <xsd:element name="may_be_deleted" type="xsd:boolean"/>
            <xsd:element name="usage" type="xsd:int"/>
            <xsd:element name="slow_threshold" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
-->
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="zato_service_get_list_request_message">
    <wsdl:part element="zato:zato_service_get_list_request" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="zato_service_get_list_response_message">
    <wsdl:part element="zato:zato_service_get_list_response" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="zato">
    <wsdl:operation name="zato:service.get-list">
      <wsdl:input message="zato:zato_service_get_list_request_message"/>
      <wsdl:output message="zato:zato_service_get_list_response_message"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="zato" type="zato:zato">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="zato:service.get-list">
      <soap:operation soapAction="zato:service.get-list"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="zato">
    <wsdl:port binding="zato:zato" name="zato">
      <soap:address location="http://localhost:11223/zato/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
