docs/wsdl/zato.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:zato="http://gefira.pl/zato" 
xmlns="http://gefira.pl/zato"
name="zato" 
targetNamespace="http://gefira.pl/zato"
>

  <wsdl:types>
    <xsd:schema targetNamespace="http://gefira.pl/zato" elementFormDefault="qualified">

<!-- ####################################################################### -->

      <xsd:element name="zato_env">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cid" type="xsd:string"/>
            <xsd:element name="result" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
<!-- ####################################################################### -->

      <xsd:element name="zato_cluster_server_delete_request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="zato_cluster_server_delete_response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="zato_env"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element> 
      
<!-- ....................................................................... -->

      <xsd:element name="zato_cluster_server_edit_request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="zato_cluster_server_edit_response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="zato_env"/>
            <xsd:element name="item" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="id" type="xsd:int"/>
                  <xsd:element name="name" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="host" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="up_status" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="up_mod_date" type="xsd:datetime" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element> 
      
<!-- ....................................................................... -->

      <xsd:element name="zato_cluster_server_get_by_id_request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="zato_cluster_server_get_by_id_response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="zato_env"/>
            <xsd:element name="item" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="id" type="xsd:int"/>
                  <xsd:element name="cluster_id" type="xsd:int"/>
                  <xsd:element name="name" type="xsd:string"/>
                  <xsd:element name="host" type="xsd:string"/>
                  <xsd:element name="last_join_status" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="last_join_mod_date" type="xsd:datetime" minOccurs="0"/>
                  <xsd:element name="last_join_mod_by" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="up_status" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="up_mod_date" type="xsd:datetime" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element> 
      
<!-- ####################################################################### -->

      <xsd:element name="zato_scheduler_job_create_request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cluster_id" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="is_active" type="xsd:boolean"/>
            <xsd:element name="job_type" type="xsd:string"/>
            <xsd:element name="service" type="xsd:string"/>
            <xsd:element name="start_date" type="xsd:datetime"/>
            <xsd:element name="extra" type="xsd:string"/>
            <xsd:element name="id" type="xsd:int" minOccurs="0"/>
            <xsd:element name="weeks" type="xsd:int" minOccurs="0"/>
            <xsd:element name="days" type="xsd:int" minOccurs="0"/>
            <xsd:element name="hours" type="xsd:int" minOccurs="0"/>
            <xsd:element name="minutes" type="xsd:int" minOccurs="0"/>
            <xsd:element name="seconds" type="xsd:int" minOccurs="0"/>
            <xsd:element name="repeats" type="xsd:int" minOccurs="0"/>
            <xsd:element name="cron_definition" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="zato_scheduler_job_create_response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="zato_env"/>
            <xsd:element name="item" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="id" type="xsd:int" minOccurs="0"/>
                  <xsd:element name="cron_definition" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element> 
      
<!-- ....................................................................... -->

      <xsd:element name="zato_scheduler_job_delete_request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="zato_scheduler_job_delete_response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="zato_env"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
<!-- ####################################################################### -->

      <xsd:element name="zato_service_get_by_name_request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cluster_id" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="zato_service_get_by_name_response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="zato_env"/>
            <xsd:element name="item" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="id" type="xsd:int"/>
                  <xsd:element name="name" type="xsd:string"/>
                  <xsd:element name="is_active" type="xsd:boolean"/>
                  <xsd:element name="impl_name" type="xsd:string"/>
                  <xsd:element name="is_internal" type="xsd:boolean"/>
                  <xsd:element name="may_be_deleted" type="xsd:boolean"/>
                  <xsd:element name="usage" type="xsd:int"/>
                  <xsd:element name="slow_threshold" type="xsd:int"/>
                  <xsd:element name="time_last" type="xsd:int"/>
                  <xsd:element name="time_min_all_time" type="xsd:int"/>
                  <xsd:element name="time_max_all_time" type="xsd:int"/>
                  <xsd:element name="time_mean_all_time" type="xsd:decimal"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element> 
      
<!-- ....................................................................... -->

      <xsd:element name="zato_service_get_list_request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cluster_id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="zato_service_get_list_response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="zato_env"/>
            <xsd:element name="item_list">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="is_active" type="xsd:boolean"/>
                        <xsd:element name="impl_name" type="xsd:string"/>
                        <xsd:element name="is_internal" type="xsd:boolean"/>
                        <xsd:element name="may_be_deleted" type="xsd:boolean"/>
                        <xsd:element name="usage" type="xsd:int"/>
                        <xsd:element name="slow_threshold" type="xsd:int"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element> 
      
<!-- ####################################################################### -->
    
    </xsd:schema>
  </wsdl:types>

<!-- ####################################################################### -->
  
  <wsdl:message name="zato_service_get_by_name_request_message">
    <wsdl:part element="zato:zato_service_get_by_name_request" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="zato_service_get_by_name_response_message">
    <wsdl:part element="zato:zato_service_get_by_name_response" name="parameters"/>
  </wsdl:message>

<!-- ....................................................................... -->
  
  <wsdl:message name="zato_service_get_list_request_message">
    <wsdl:part element="zato:zato_service_get_list_request" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="zato_service_get_list_response_message">
    <wsdl:part element="zato:zato_service_get_list_response" name="parameters"/>
  </wsdl:message>

<!-- ####################################################################### --> 
  
  <wsdl:portType name="zato">
  
<!-- ####################################################################### -->

    <wsdl:operation name="zato.service.get-by-name">
      <wsdl:input message="zato:zato_service_get_by_name_request_message"/>
      <wsdl:output message="zato:zato_service_get_by_name_response_message"/>
    </wsdl:operation>
    
<!-- ....................................................................... -->

    <wsdl:operation name="zato.service.get-list">
      <wsdl:input message="zato:zato_service_get_list_request_message"/>
      <wsdl:output message="zato:zato_service_get_list_response_message"/>
    </wsdl:operation>
    
<!-- ####################################################################### -->
    
    
  </wsdl:portType>
  
  <wsdl:binding name="zato" type="zato:zato">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    

<!-- ####################################################################### -->

    <wsdl:operation name="zato.service.get-by-name">
      <soap:operation soapAction="zato.service.get-by-name"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
<!-- ....................................................................... -->
    
    <wsdl:operation name="zato.service.get-list">
      <soap:operation soapAction="zato.service.get-list"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
<!-- ####################################################################### -->
    
  </wsdl:binding>
  
  <wsdl:service name="zato">
    <wsdl:port binding="zato:zato" name="zato">
      <soap:address location="http://localhost:17010/zato/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
